<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>788504087374-j170imshljmakn6g5174ectdnd3hh9rh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.788504087374-j170imshljmakn6g5174ectdnd3hh9rh</string>
	<key>API_KEY</key>
	<string>AIzaSyBfwGQQDs9cLikP6rIkEDrJyoGLL9vKppk</string>
	<key>GCM_SENDER_ID</key>
	<string>788504087374</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mj.MyFluxRSS</string>
	<key>PROJECT_ID</key>
	<string>myfluxrss-3671e</string>
	<key>STORAGE_BUCKET</key>
	<string>myfluxrss-3671e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:788504087374:ios:f99a8f67832e4768b4ec1f</string>
</dict>
</plist>